body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 600px;
        border-collapse: separate; /* collapse junta as bordas*/
}

th, td{
    padding: 7px;
}

th{
    text-transform: uppercase; /* uppercase deixa todas as letras em MAIUSCULOS */
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    letter-spacing: 0.1em; /* Cria um espaçaento nas letras */
}

tr.lternado{
    background-color: #efefef;
}

tr:hover{
    background-color: red;
}

.numero{
    text-align: right;
}