*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(172, 172, 172);
}


#area-principal{
    width: 800px;
    height: 500px;
    background: green;
    margin: 1% auto;
    border-radius: 28px;
}

/* -----------------Pate do Loguim------------------*/
#login{
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 0px 28px 28px 0px;
    float: right;
}

#login h1{
    text-align: center;
    color: blue;
    padding-top: 20px;
}

/* input pass e email style*/

div.sigle-inputs{
    width: 350px;
    background: #ff0000;
    margin: 0px auto ;
    margin-top: 40px;
    position: relative; /* position: relative;altera a posição do elemento em relação ao elemento
    pai e em relação a si mesmo e onde normalmente estaria no fluxo de documento regular da página.  */
}

div.sigle-inputs label{
    font-size: 16px; /* Tamanho da fonte*/
    left: 0; 
    position: absolute; /* Pocição absoluta abandona seu pai */ 
    color: silver;
    bottom: 8px;
    cursor: text; /* Permite que o estilo do cursor do mouse seja modificado facilmente por algum outro modelo*/ 
    transition: 0.5s ease-in-out; /* O tempo de transição.. |ease-in-out: realiza a transição com o início e final lentos */
}

div.sigle-inputs .input {
    width: 100%;
    padding: 3px;
    color: silver;
    border: 0; /* Tira a Borda */
    border-bottom: 2px solid rgb(200, 200, 200);
    outline: 0; /* Tira as bordas quando aperta no Input*/
}

div.sigle-inputs .input:focus, /* Ação para quando estiver focado no input */
div.sigle-inputs .input:valid{ /* Quando sair e o inpit estiver um valor fica ativado. ""Required tem q estar ativado""*/
    border-bottom: 2px solid cornflowerblue;
}

div.sigle-inputs .input:focus ~ label, /* Chama a Label com o ~ */
div.sigle-inputs .input:valid ~ label{
    transform: translateY(-24px); /* Move o Label*/
    font-size: 12px; /* Diminui o label */
    color: cornflowerblue;
}

/* Style Chackbox */


div.box{
    width: 150px;
    margin: 0 75px;
    margin-top: 15px;
}

.box input{
    display: none;
}

.box input + label::before{
    content: ''; /* para gerar conteúdo em um elemento */
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;

}

.box input:checked + label:before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    border: none;
    background-color: blue;
    padding: 1px;
}

.box input:checked ~ label{
    color: blue;
} /* Chama a Label com o ~ */

/*  Botãos estilo*/

.button {
    background-color: blue;
    color: white;
    border-radius: 20px;
    border: 2px solid blue;
    width: 300px;
    height: 30px;
    margin: 80px 100px;
  }

.button:hover{
    background-color: white;
    color: blue;
    border-radius: 20px;
    border: 2px solid blue;
}

/* Paragrafo */

p{
    padding-top: 60px;
    text-align: center;
}
a{
    text-decoration: none;
}

/* --------------------Pate da Logo------------------*/
#logo{
    width: 300px;
    height: 500px;
    background: blue;
    border-radius: 28px 0px 0px 28px;
    float: left;
}

#imagens{
    width: 150px;
    padding-top: 150px;
    margin: auto;
    display: block;
}

#logo h3 {
    text-align: center;
    color: white;
    padding: 20px;
}

/* --------------------j------------------*/