.grow0 {
	flex-grow: 0;
}

.grow1 {
	flex-grow: 1;
}


.grow2 {
	flex-grow: 2;
}

.grow3 {
	flex-grow: 3;
}

.grow4 {
	flex-grow: 4;
}

.grow5 {
	flex-grow: 5;
}

.item {
	margin: 5px;
	background: greenyellow;
	text-align: center;
	font-size: 1.5em;
    padding: 0 30px;
    height: 100px;
    border: 3px solid black;
}

.container {
	width: 100%;
	margin: 0 auto;
	display: flex;

}


h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}

.prencipal{
    width: 700px;
    height: 100%;
    margin: 8% auto;
    
    border: 1px solid #ccc;
}

body {
	font-family: monospace;
	color: #333;
}